.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.hero-left {
  flex: 1;
  justify-content: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-left: 100px;
  line-height: 1.1;
}
.hero-right {
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

h2 {
  margin-bottom: 50px;
}
.hero-right img {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  display: block;
}

.custom-button {
  font-size: 15px;
  padding: 10px 18px;
  width: auto;
  max-width: 150px;
  display:inline-block;
  background-color:#007bff;
  color:white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  
}

@media (max-width: 600px) {
  .hero {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
    gap: 30px;
    height: auto;
  }

  .hero-left {
    padding-left: 0;
    align-items: center;
  }

  .hero-right {
    justify-content: center;
    width: 100%;
  }

  .hero-right img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }

  .custom-button {
    font-size: 12px;
    padding: 5px 12px;
    max-width: 120px;
    margin-top: 10px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
