


.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
  padding: 12px 16px;
 
  
}
.cart-items{
   height:80vh;
}


.cart-product img{
  height:150px;
  width:150px;
  margin-bottom: 10px;;
  /* overflow:hidden; */
  /* object-fit: cover; */
}


.item-total {
  width: 100px;
  text-align: center;
}

.remove-btn {
  padding: 4px;
}
/* .cart-header { */
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px 16px;
 
}

.cart-header {
  font-size:20px;
  font-weight: 500;
} */

span{
  margin-left:10px;
  margin-right:10px
}
.product-total p{
  font-weight: 500;
  color:blue;
}

.cart-container h2{
padding:15px;
 
  font-weight: 600;
}
.empty-cart{
  margin-left:30px;
  font-size: 40px;
  color:red;
   
  
}

.cartImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* or any other height */
}
.cartImg img{
  height:150px;
  width:150px;
  margin-left:100px;
}
.product-name{
  font-weight:700;
  color:brown;
}
@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-product img {
    height: 100px;
    width: 100px;
    margin-bottom: 8px;
  }

  .item-total {
    width: 100%;
    text-align: left;
    margin-top: 10px;
  }

  .remove-btn {
    margin-top: 10px;
    align-self: flex-end;
  }

  .cart-container h2 {
    font-size: 20px;
    text-align: center;
  }

  .empty-cart {
    font-size: 28px;
    text-align: center;
    margin-left: 0;
  }

  .cartImg {
    height: auto;
    margin-top: 20px;
  }

  .cartImg img {
    margin-left: 0;
  }

  .product-name {
    font-size: 16px;
  }

  span {
    display: block;
    margin: 5px 0;
  }
}
