
.login-page {
  width: 100%;
  height:100vh;
  margin: 10px auto;
  padding-top:10px;
  background-color: #ffffff;
  /* border-radius: 12px; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}
.login-container{
    width:580px;
    height:600px;
    /* background:white; */
    margin:auto;
    padding: 40px 60px;

     
}

.login-container h1 {
  font-size: 28px;
  color: #333333;
  margin:20px 0px;
  font-weight: 700;
}

/* Form inputs */
.login-form {

display:flex;
  flex-direction: column;
  gap:29px;
  margin-top:30px;
 
}
.login-form input{
height:52px;
width:100%;
padding-left: 20px;
border:1px solid #c9c9c9;
outline: none;
color: #5c5c5c;
font-size: 18px;


}

.login-container button{
    width:100%;
    height:52px;
    color:white;
    background: #1976d2;
    margin-top:30px;
    border:none;
    font-size:24px;
    cursor: pointer;

}

button[type="submit"]:hover {
  background-color:grey;
}


.login-para{
  font-size: 14px;
  margin-top: 20px;
  color: #333333;
  font-weight:500;

}


.login-checkbox {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  margin-top: 25px;
  font-size: 13px;
  gap:20px;
  color: #444444;
}

.login-checkbox p{
    font-size:16px;

}
.login-checkbox input{
height:25px;
width:25px;
}