.containerr {
  max-width: 500px;
  margin: auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.heading {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputt {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  padding: 12px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
@media (max-width: 600px) {
  .container {
    padding: 1rem;
    max-width: 90%;
  }

  .heading {
    font-size: 1.5rem;
  }

  .input,
  .button {
    font-size: 14px;
    padding: 10px;
  }
}
