.thankyou-container {
  max-width: 800px;
  margin: 60px auto;
  padding: 2rem;
  background:conic-gradient(from 0deg, red, yellow, green, blue, red);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(40, 167, 69, 0.2);
  text-align: center;
  font-size: 24px;
  color:red;
  font-weight: 600;
}
