.popular{
    gap:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:50vh;
    padding-top:60px;




}
.popular h1{
    color: #171717;
    font-size:50px;
    font-weight:600;
    text-align:center;
    width:100%;
    

}
.popular hr{
    width:300px;
    height:6px;
    background: #252525;
    border-radius:10px;
    margin:0 auto;

}
.popular-item{

    
 display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items in a single row */
  gap: 30px;
  margin-bottom: 50px;
    
    
  }

.popular-item p{
    color:brown;
    font-weight:700;
}
.element-align img{
    height:300px;
    width:auto;
    object-fit: cover;
    margin-bottom: 30px;
}
.element-align .price{
    color:#171717;
    font-weight: 600;
}
.element-align .offer{
    color:green;
    font-weight: 400;
}

@media (max-width: 600px) {
  .popular h1 {
    font-size: 22px;
    text-align: center;
  }

  .popular hr {
    width: 150px;
    height: 4px;
  }

  .popular-item {
    
    grid-template-columns: 1fr; /* Stack items vertically */
    gap: 20px;
  
  }

  .element-align img {
    height: 300px;
    margin-bottom: 20px;
    width:200px;
  }
}